################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/travel.api/Travel.Web/bin/Debug/net9.0
/travel.api/Travel.Web/obj
/travel.api/.vs/ProjectEvaluation
/travel.api/.vs/travel.api/copilot-chat/0cecd951/sessions
/travel.api/.vs/travel.api/CopilotIndices/17.13.444.19527
/travel.api/.vs/travel.api/DesignTimeBuild
travel.api/.vs/travel.api/FileContentIndex/1fdeb21e-3979-4cc5-81e5-42d45f09fc7b.vsidx
/travel.api/.vs/travel.api/FileContentIndex
/travel.api/travel.api/obj/Debug/net9.0
