@{  
  ViewData["Title"] = "Home Page";  
}  

<div>  
  <ul class="nav nav-tabs" id="myTab" role="tablist">  
      <li class="nav-item" role="presentation">  
          <a class="nav-link active" id="flight-tab" data-bs-toggle="tab" href="#flight" role="tab" aria-controls="flight" aria-selected="true">Flight</a>  
      </li>  
      <li class="nav-item" role="presentation">  
          <a class="nav-link" id="hotel-tab" data-bs-toggle="tab" href="#hotel" role="tab" aria-controls="hotel" aria-selected="false">Hotel</a>  
      </li>  
      <li class="nav-item" role="presentation">  
          <a class="nav-link" id="train-tab" data-bs-toggle="tab" href="#train" role="tab" aria-controls="train" aria-selected="false">Train</a>  
      </li>  
      <li class="nav-item" role="presentation">  
          <a class="nav-link" id="buses-tab" data-bs-toggle="tab" href="#buses" role="tab" aria-controls="buses" aria-selected="false">Buses</a>  
      </li>  
  </ul>  
  <div class="tab-content" id="myTabContent">  
      <div class="tab-pane fade show active" id="flight" role="tabpanel" aria-labelledby="flight-tab">  
               @await Html.PartialAsync("PartialViews/_FlightPartial")  
           </div>
      <div class="tab-pane fade" id="hotel" role="tabpanel" aria-labelledby="hotel-tab">
            @await Html.PartialAsync("PartialViews/_HotelPartial")
        </div>  
      <div class="tab-pane fade" id="train" role="tabpanel" aria-labelledby="train-tab">
            @await Html.PartialAsync("PartialViews/_TrainPartial")
        </div>  
      <div class="tab-pane fade" id="buses" role="tabpanel" aria-labelledby="buses-tab">
            @await Html.PartialAsync("PartialViews/_BusesPartial")
        </div>  
  </div>  
</div>
